.container {
  width: 1280px;
  margin: 0 auto;

  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.padding-site {
  padding: 50px;
  box-sizing: border-box;
}

.main-header {
  width: 100%;
  background-color: #445162;
  color: white;
}
/*Отмена обтекания через псевдоэлемент*/
.main-header:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.main-header-wpr {
  float: left;
}

.main-header-title {
  margin: 0 0 20px 0;
  font-size: 60px;
}

.main-header-list {
  margin: 0;
  padding: 0 0 0 20px;
}
/*замена маркеров на картинки галочки*/
.main-header-list-item {
  list-style-type: none;
  position: relative;
  padding: 0 0 0 10px;
  margin: 0 0 10px 10px;
  font-size: 20px;
}
.main-header-list-item:before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -3px;
  left: -20px;
  background-image: url(https://user-images.githubusercontent.com/64165454/80292336-be716700-875e-11ea-941b-585dfba995ca.png);
  background-size: cover;
}

.main-header-img {
  width: 472px;
  height: 217px;
  float: right;
  background-color: #ffffff;
  display: block;
  color: black;
}

.about-product {
  min-height: 350px;
}

.about-product-wpr {
  float: left;
}

.about-product-title {
  width: 649px;
  font-size: 30px;
  font-weight: 400;
  color: #445161;
}

.about-product-description {
  width: 649px;
  color: #333333;
  font-size: 16px;
  text-align: justify;
  margin: 20px 0 0 0;
}
.about-product-img {
  width: 432px;
  height: 248px;
  background-color: #445161;
  float: right;
  display: block;
  color: white;
}

.dignity-pluses {
  background-color: #f5f5f5;
  width: 100%;
  padding: 50px;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.dignity-pluses-title {
  width: 100%;
  margin: 0 auto;
  display: block;
  color: #445161;
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 30px 0;
  text-align: center;
}

.dignity-pluses-wrp {
  width: 50%;
  box-sizing: border-box;
}

.dignity-pluses-point {
  width: 100%;
  min-height: 30px;
  margin: 0 0 20px 0;
  padding: 0 0 0 30px;
  box-sizing: border-box;
}
.dignity-pluses-point:nth-child(3),
.dignity-pluses-point:nth-child(4) {
  margin: 0;
}

.dignity-pluses-point-description {
  outline: none;
  position: relative;
  width: 528px;
  text-align: justify;
}

/*для Chrome*/
.dignity-pluses-point-description::-webkit-details-marker {
  display: none;
}

/*для Firefox*/
.dignity-pluses-point-description {
  display: block;
}

.dignity-pluses-point-description:before {
  content: "+";
  display: block;
  width: 25px;
  height: 25px;
  background-color: #445161;
  color: #fff;
  font-size: 22px;
  text-align: center;
  font-weight: bold;
  line-height: 25px;
  position: absolute;
  top: 0;
  left: -30px;
}

.screenshot {
  height: 490px;
}

.screenshots:after {
  content: "";
  display: block;
  width: 100%;
  clear: both;
}

.screenshots-title {
  width: 100%;
  margin: 0 auto;
  display: block;
  color: #445161;
  font-size: 28px;
  font-weight: 400;
  margin: 0 0 30px 0;
  text-align: center;
}

.screenshots-box {
  float: left;
  width: 574px;
  margin: 0 16px 30px 0;
}

.screenshots-box:nth-child(4),
.screenshots-box:nth-child(5) {
  margin: 0 16px 0 0;
}

.screenshots-img {
  width: 200px;
  height: 150px;
  display: block;
  float: left;
  margin: 0 15px 0 0;
  background-color: #445161;
  color: white;
}

.screenshots-box-in-title {
  width: 310px;
  color: #445161;
  font-size: 24px;
  font-weight: 400;
}

.screenshots-box-in-description {
  width: 100%;
  text-align: justify;
  margin: 15px 0 0 0;
}

.reviews {
  width: 100%;
  background-color: #f5f5f5;
}

.reviews-title {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 400;
  color: #445161;
}

.reviews-boxes {
  min-width: 1280px;
  margin-top: 25px;

  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  height: 100%;
}

.reviews-box {
  display: flex;
  margin: 5px;
}

.reviews-img {
  min-width: 75px;
  min-height: 75px;
  background-color: #445161;
  border-radius: 50px;
  margin: 0 20px 0 0;
}
.reviews-txt-box {
  width: 455px;
  padding: 15px 15px 15px 15px;
  background-color: #ebebeb;
  border-radius: 10px;
}
.left-corner {
  background-color: #ebebeb;
  position: relative; /* !!! */
}

.left-corner:before {
  content: "";
  border: 10px solid transparent;
  border-right: 10px solid #ebebeb;
  position: absolute;
  left: -20px;
  top: 25%;
}
.reviews-txt {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  font-style: italic;
  text-align: justify;
  color: #333333;
  margin: 0 0 5px 0;
}
.reviews-txt-autor {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(152, 152, 152);
}

.buy {
  width: 100%;
}

.buy-title {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
  font-weight: 400;
  color: #445161;
}

.buy-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  color: #445161;
}

.tariff-plans {
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: flex-end;
}
.tariff-plans-box {
  border: 2px solid #445161;
  box-sizing: border-box;
  border-radius: 4px;
}

.tariff-plans-box:nth-child(2) {
  width: 300px;
  height: 404px;
  margin: 0 auto;
  align-self: flex-end;
  background-color: #445161;
}

.tariff-plans-box:nth-child(3) {
  width: 300px;
  height: 500px;
  margin: 0 auto;
  align-self: flex-end;
  background-color: #445161;
}
.tariff-plans-box:nth-child(1) {
  width: 300px;
  height: 306px;
  margin: 0 auto;
  align-self: flex-end;
  background-color: #445161;
}

.tariff-h3 {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #445162;
  color: white;
  height: 50px;
  margin: 0 auto;
  font-size: 24px;
  font-weight: 400;
}
.tariff-prise {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #445162;
  height: 70px;
  margin: 0 auto;
  font-size: 40px;
  font-weight: 400;
}
.tariff-ol {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: white;
  background-color: #445162;
}
.tariff-button {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  color: #445162;
  width: 240px;
  height: 41px;
  margin: 0 auto;
  font-size: 26px;
  border-radius: 5px;
}

.footer {
  width: 100%;
  min-height: 540px;
  background-color: #445162;
}
.tariff-li {
}

.contacts-title {
  display: block;
  text-align: center;
  margin: 0 auto;
  font-size: 36px;
  font-weight: 400;
  color: white;
}
.contacts-social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.form {
  width: 500px;
  min-height: 354px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-left: 200px;
  margin: 0 50px 0 200px;
}
.example_form {
  display: block;
  width: 500px;
  height: 40px;
  text-align: left;
  font-size: 16px;
  color: #445162;
  border-radius: 5px;
  margin-top: 24px;
}

.message_form {
  width: 504px;
  min-height: 170px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #445162;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 24px;
}

.color-text {
  color: #445162;
}
.buttom-send {
  display: block;
  height: 16px;
  width: 140px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #445162;
  border-radius: 5px;
  background-color: #fff;
  padding: 13px 3px 13px 3px;
  margin: 20px 0 0 180px;
}
.buttom-send:hover {
  background-color: #47be23;
  color: #fff;
}
.buttom-send:active {
  background-color: rgb(34, 218, 231);
  color: #fff;
}

li.social-list {
  list-style-type: none;
}

.social {
  margin: 24px 0 0 0;
}
.social-list {
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
  margin: 0 0 25px 0;
}
.social-ul {
  margin: 0 0 0 -37px;
}

.social-ul-img {
  margin-right: 9px;
}
.social_buttons-img {
  margin-top: 30px 0 0 0;
}

.copyright {
  background-color: #f5f5f5;
  color: #445162;
  text-align: center;
  padding: 5.1px 0 5.1px 0;
}
